footer {
    background-color: rgba( 3,37,65) ;
    padding: 60px 0;
    color: white;
    margin-top: auto;
    bottom: 0;
    left: 0;
    position: relative;
    margin-bottom: 0;
}
h2 {
    margin-bottom: 20px;
}
ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
li a {
    color: inherit;
}
ul li:hover {
    color: aquamarine;
}
